<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnWarning="false"
         failOnRisky="false"
         failOnEmptyTestSuite="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="false">
    <testsuites>
        <testsuite name="plugin-sentinal">
            <file>./tests/test-plugin-sentinal.php</file>
        </testsuite>
    </testsuites>
    <php>
        <env name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="vendor/yoast/phpunit-polyfills" />
    </php>
</phpunit>
